<%= form_with model: @department do |f| %>
  <div class="actions">
    <%= link_to 'Назад', departments_path %>
    <%= button_to 'Удалить отдел', department_path(@department), method: :delete %>
  </div>
<% end %>
