<div class="edit_form_wrapper">
  <%= form_with model: @department do |f| %>

    <%= f.label :name, 'Наименование' %>
    <%= f.text_field :name, require: true, id: 'department_department_name' %>

    <div class="actions">
      <%= f.submit 'Создать отдел', class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
