<h3>Список отделов</h3>

<% if @all_departments.any? %>
    <table class="table table-dark table-striped table-hover table-bordered table-condensed">
      <tr>
        <th>Наименование</th>
        <th>Действия</th>
      </tr>
      <% @all_departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
          <td><%= link_to 'Инфо', department_path(department) %>
            | <%= link_to 'Редактировать', edit_department_path(department) %> </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p style="color: #fff">Отделы не найдены (╯°□°）╯︵ ┻━┻</p>
  <% end %>