<h1>Список отделов</h1>

<% if @all_departments.any? %>
  <% @all_departments.each do |department| %>
    <ul class="departments-list">
      <li class="department-list-item">
        <%= department.department_name %> |
        <%= link_to 'Инфо', department_path(department) %> |
        <%= link_to 'Редактировать', edit_department_path(department) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>Отделы не найдены (╯°□°）╯︵ ┻━┻</p>
<% end %>
