<% if current_account.secure_records.any? %>
  <div class="all_records_wrapper">
    <h3>Ваши записи</h3>
    <div class="all_records_record_wrapper">
      <% current_account.secure_records.each do |record| %>
        <br>
        <span>Login: <%= record.login %></span>
        <span>Password: <%= record.password %></span>
        <span>Resource: <%= record.resource %></span>
        <%= link_to 'Редактировать', edit_secure_record_path(record) %>
        <br>
      <% end %>
<% else %>
  <span>Записей не обнаружено</span>
  </div>
  </div>
<% end %>










