<div class="edit_form_wrapper">
  <%= form_with model: @role do |f| %>

      <%= f.label :name, 'Название роли' %>
      <%= f.text_field :name, require: true %>

      <%= f.submit 'Создать роль', class: 'btn btn-success' %>
  <% end %>
</div>