<%= form_with model: @role do |f| %>
  <div class="edit-role-field">
    <%= f.label :name, 'Название роли' %>
    <%= f.text_field :name, require: true%>
  </div>
  <div class="actions">
    <%= f.submit 'Создать роль' %>
  </div>
<% end %>