<h3>Список ролей</h3>
<% if Role.all.any? %>
  <table class="table table-dark table-bordered table-striped table-hover table-condensed">
    <tr>
      <th>Наименование</th>
      <th>Действия</th>
    </tr>
    <% Role.all.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Инфо', role_path(role) %> | <%= link_to 'Редактировать', edit_role_path(role) %></td>
    <% end %>
  </table>
<% else %>
  <p>Роли не найдены (╯°□°）╯︵ ┻━┻</p>
<% end %>