<h1>Список ролей</h1>

<% if @all_roles.any? %>
  <% @all_roles.each do |role| %>
    <ul class="roles-list">
      <li class="role-list-item">
        <%= role.name %> |
        <%= link_to 'Инфо', role_path(role) %> |
        <%= link_to 'Редактировать', edit_role_path(role) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>Роли не найдены (╯°□°）╯︵ ┻━┻</p>
<% end %>